.highlights-dark {
    background: #000;
}

.highlights-dark .chapter-content p {
    color: #d5d5d5;
}

.highlights-light {
    background: #fff;
}

.highlights-light .chapter-content p {
    color: #2d2d2d;
}