.chapter-card {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 1300px;
    margin: 0 auto;

     padding: 120px 60px;

    gap: 90px;
}

/* Inverte a posição da foto */
.chapter-card.right {
    flex-direction: row-reverse;
}

.chapter-image {
    flex: 0 0 46%;
}

.chapter-image img {
    width: 100%;
    display: block;
}

.chapter-content {
    width: 320px;
    flex: none;
}

.chapter-content p {
    font-size: 1.2rem;
    line-height: 1.8;
    max-width: 320px;
}

.chapter-image-collage img {
    max-height: 300px;
    object-fit: cover;
}